.pagination {
  &__list {
    display: flex;
  }

  &__btn {
    @include reset-btn;
    @include flex-center;
    @include square(24px);

    color: inherit;

    @include hover {
      color: var(--color-accent);
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.swiper-pagination-bullet {
  @include reset-btn;
  @include flex-center;
  @include square(24px);

  margin: 0 !important;
  color: var(--color-light);
  opacity: 1;

  &-active {
    color: var(--color-accent);
  }
}
