@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@font-face {
  font-family: "Space Grotesk";
  src: url(../fonts/SpaceGrotesk-Regular.woff2) format("woff2");
  font-weight: 400px;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url(../fonts/SpaceGrotesk-Medium.woff2) format("woff2");
  font-weight: 500px;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #191a23;
  --color-dark-alt: #292a32;
  --color-light: #ffffff;
  --color-accent: #5ab9ea;
  --color-gray: #f3f3f3;
  --color-gray-alt: #898989;
  --border: 1px solid var(--color-dark);
  --border-radius: 14px;
  --border-radius-small: 7px;
  --border-radius-large: 45px;
  --shadow: 0 5px 0 0 var(--color-dark);
  --font-family: "Space Grotesk", sans-serif;
  --container-width: 1240px;
  --container-padding-x: 20px;
  --section-padding-y: 70px;
  --input-height: 59px;
  --button-height: 68px;
  --transition-duration: 0.3s;
}
@media (max-width: 1280px) {
  :root {
    --section-padding-y: 50px;
  }
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 30px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1,
.h1 {
  font-size: clamp(43px, 4.1666666667vw, 60px);
}

h2,
.h2 {
  font-size: clamp(36px, 2.7777777778vw, 40px);
}

h3,
.h3 {
  font-size: clamp(26px, 2.0833333333vw, 30px);
}

h4,
.h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

.field {
  --inputHeight: var(--input-height);
  --inputTextColor: var(--color-dark);
  --inputBgColor: var(--color-light);
  --inputBorderColor: var(--color-dark);
  --inputPlaceholderColor: var(--color-gray-alt);
  --inputHoverBgColor: var(--color-accent);
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;
}
@media (max-width: 767px) {
  .field {
    row-gap: 10px;
  }
}
.field--big-height {
  --inputHeight: var(--button-height);
}
.field--dark-bg {
  --inputTextColor: var(--color-accent);
  --inputBgColor: var(--color-dark-alt);
  --inputBorderColor: var(--color-light);
  --inputPlaceholderColor: var(--color-light);
  --inputHoverBgColor: var(--color-dark);
}
.field__label {
  font-size: clamp(14px, 1.1111111111vw, 16px);
}
.field__input {
  width: 100%;
  height: var(--inputHeight);
  padding-inline: 30px;
  color: var(--inputTextColor);
  border: 1px solid var(--inputBorderColor);
  background-color: var(--inputBgColor);
  border-radius: var(--border-radius);
}
.field__input:focus {
  border-color: var(--color-accent);
  outline: none;
}
@media (hover: hover) {
  .field__input:hover {
    background-color: var(--inputHoverBgColor);
  }
}
@media (hover: none) {
  .field__input:active {
    background-color: var(--inputHoverBgColor);
  }
}
@media (max-width: 767px) {
  .field__input {
    padding-inline: 20px;
  }
}
.field__input::-moz-placeholder {
  color: var(--inputPlaceholderColor);
}
.field__input::placeholder {
  color: var(--inputPlaceholderColor);
}
.field__input--textarea {
  height: 190px;
  padding-block: 18px;
  resize: none;
}
@media (max-width: 767px) {
  .field__input--textarea {
    height: 132px;
  }
}

.radio {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .radio:hover {
    font-weight: 600;
  }
}
@media (hover: none) {
  .radio:active {
    font-weight: 600;
  }
}
.radio__input:not(:checked) + .radio__emulator::after {
  opacity: 0;
}
.radio__emulator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  aspect-ratio: 1;
  position: relative;
  background-color: var(--color-light);
  border: var(--border);
  border-radius: 50%;
}
.radio__emulator::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 60%;
  aspect-ratio: 1;
  content: "";
  background-color: var(--color-accent);
  border-radius: inherit;
  transition-duration: var(--transition-duration);
}

.radios {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.radios__item {
  cursor: pointer;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 35px;
  font-size: 20px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
}
@media (hover: hover) {
  .btn:hover {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .btn:active {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }
}
.btn--transparent {
  color: var(--color-dark);
  background-color: var(--color-light);
}
.btn--accent {
  color: var(--color-dark);
  background-color: var(--color-accent);
}
@media (hover: hover) {
  .btn--accent:hover {
    color: var(--color-accent);
    background-color: var(--color-dark);
  }
}
@media (hover: none) {
  .btn--accent:active {
    color: var(--color-accent);
    background-color: var(--color-dark);
  }
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 40px;
}
@media (max-width: 767px) {
  .grid {
    gap: 30px;
  }
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (max-width: 1023px) {
  .grid--2 {
    --gridColumns: 1;
  }
}
@media (max-width: 1280px) {
  .grid--3 {
    --gridColumns: 2;
  }
}
@media (max-width: 767px) {
  .grid--3 {
    --gridColumns: 1;
  }
}

.burger-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .burger-btn:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .burger-btn:active {
    background-color: var(--color-accent);
  }
}
.burger-btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
  box-shadow: 0 -8px, 0 8px;
}

.header {
  padding-top: 60px;
}
@media (max-width: 1280px) {
  .header {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 15px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1023px) {
  .header__container {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    max-width: 120px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    max-width: 144px;
  }
}
.header__menu {
  margin-left: auto;
  font-size: 20px;
}
@media (max-width: 1280px) {
  .header__menu {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .header__menu {
    font-size: 16px;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
.header__btn {
  height: 48px;
  padding-inline: 18px;
  font-size: 16px;
}

.cross-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .cross-btn:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .cross-btn:active {
    background-color: var(--color-accent);
  }
}
.cross-btn::before, .cross-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
}
.cross-btn::before {
  rotate: 45deg;
}
.cross-btn::after {
  rotate: -45deg;
}

.mobile-overlay {
  padding: 14px 20px;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-btn-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}

.section {
  padding-block: var(--section-padding-y);
}
.section--hidden-x {
  overflow-x: hidden;
}
.section__header {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
@media (max-width: 767px) {
  .section__header {
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
  }
}
.section__header:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .section__header:not(:last-child) {
    margin-bottom: 40px;
  }
}
.section__descr {
  max-width: 580px;
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y);
}
@media (max-width: 1280px) {
  .hero {
    row-gap: 60px;
  }
}
.hero__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 767px) {
  .hero__main {
    flex-direction: column;
  }
}
.hero__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 531px;
  row-gap: 35px;
}
@media (max-width: 767px) {
  .hero__body {
    display: contents;
  }
}
@media (max-width: 767px) {
  .hero__title {
    order: -2;
    margin-bottom: 10px;
  }
}
.hero__descr {
  font-size: 20px;
  line-height: 140%;
}
@media (max-width: 767px) {
  .hero__descr {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 150%;
  }
}
@media (max-width: 767px) {
  .hero__btn {
    width: 100%;
    max-width: 390px;
    margin-inline: auto;
  }
}
.hero__partners-list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 37px;
       column-gap: 37px;
}
@media (max-width: 767px) {
  .hero__partners-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
}
.hero__partners-img {
  filter: grayscale(1);
}
.hero__partners-item {
  display: flex;
  justify-content: center;
}
@media (max-width: 1023px) {
  .hero__img {
    max-width: 40%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .hero__img {
    order: -1;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.puddle-bg {
  padding-inline: 7px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius-small);
}
.puddle-bg--light {
  background-color: var(--color-light);
}

.services__list:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .services__list:not(:last-child) {
    margin-bottom: 70px;
  }
}

.service-card {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  min-height: 310px;
  padding: 50px;
  background-color: var(--color-gray);
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
}
@media (max-width: 767px) {
  .service-card {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 27px;
  }
}
.service-card--accent-bg {
  background-color: var(--color-accent);
}
.service-card--dark-bg {
  background-color: var(--color-dark);
}
.service-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}
@media (max-width: 767px) {
  .service-card__body {
    display: contents;
  }
}
.service-card__img {
  align-self: center;
}
@media (max-width: 1280px) {
  .service-card__img {
    max-width: 50%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .service-card__img {
    max-width: 165px;
  }
}
.service-card__title {
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 767px) {
  .service-card__title {
    grid-column: -1/1;
  }
}
.service-card__link {
  --cardLinkIconColor: var(--color-accent);
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  font-size: 20px;
}
@media (hover: hover) {
  .service-card__link:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }
}
@media (hover: none) {
  .service-card__link:active {
    opacity: 0.8;
    transform: scale(1.05);
  }
}
@media (max-width: 767px) {
  .service-card__link {
    align-self: end;
  }
}
.service-card__link--light {
  --cardLinkIconColor: var(--color-dark);
  color: var(--color-light);
}
.service-card__link-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}
.service-card__link-icon-wrapper svg {
  color: var(--cardLinkIconColor);
}
@media (max-width: 767px) {
  .service-card__link-label {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    -webkit-clip-path: inset(100%) !important;
            clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}

.banner {
  --bannerImageOffsetY: 24px;
  padding-block: var(--bannerImageOffsetY);
}
@media (max-width: 1023px) {
  .banner {
    --bannerImageOffsetY: 0;
  }
}
.banner__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray);
  border-radius: var(--border-radius-large);
}
.banner__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 60px;
  row-gap: 26px;
}
@media (max-width: 1023px) {
  .banner__body {
    padding: 50px;
  }
}
@media (max-width: 767px) {
  .banner__body {
    row-gap: 20px;
  }
}
.banner__descr {
  max-width: 500px;
}
.banner__img {
  margin-block: calc(var(--bannerImageOffsetY) * -1);
}
@media (max-width: 1023px) {
  .banner__img {
    max-width: 40%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .studies {
    padding: 45px 40px;
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
    color: var(--color-light);
  }
}
@media (min-width: 1281px) {
  .studies {
    padding: 70px 60px;
  }
}
.studies__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 767px) {
  .studies__list {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.studies__item {
  --itemPaddingX: 64px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 1280px) {
  .studies__item {
    --itemPaddingX: 32px;
  }
}
@media (min-width: 768px) {
  .studies__item:not(:last-child) {
    padding-right: var(--itemPaddingX);
    border-right: 1px solid var(--color-light);
  }
  .studies__item:not(:first-child) {
    padding-left: var(--itemPaddingX);
  }
}
@media (max-width: 767px) {
  .studies__item {
    padding: 42px 50px;
    min-width: 350px;
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
    color: var(--color-light);
    scroll-snap-align: start;
  }
}
.studies__link {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  font-size: 20px;
  line-height: 140%;
  color: var(--color-accent);
}
@media (hover: hover) {
  .studies__link:hover {
    opacity: 0.8;
  }
}
@media (hover: none) {
  .studies__link:active {
    opacity: 0.8;
  }
}

.process__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  counter-reset: custom-counter;
  list-style: none;
  transition-duration: var(--transition-duration);
}
@media (max-width: 767px) {
  .process__list {
    row-gap: 20px;
  }
}
.process__item {
  --counterContent: counter(custom-counter);
  counter-increment: custom-counter;
}
.process__item:nth-child(-n+9) {
  --counterContent: "0" counter(custom-counter);
}
.process__item details > div {
  overflow: hidden;
  display: grid;
  animation-duration: 0.3s;
}
.process__item details > .animation {
  animation-name: grid-expand;
  animation-timing-function: ease-out;
}
.process__item details > .collapsing {
  animation-direction: reverse;
  animation-timing-function: ease-in;
}
.process__item details > div > div {
  min-height: 0;
}
@keyframes grid-expand {
  0% {
    grid-template-rows: 0fr;
  }
  100% {
    grid-template-rows: 1fr;
  }
}
.process__accordion {
  --indicatorVerticalRotate: 90deg;
  padding: 40px 60px;
  background-color: var(--color-gray);
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .process__accordion:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .process__accordion:active {
    background-color: var(--color-accent);
  }
}
@media (max-width: 767px) {
  .process__accordion {
    padding: 30px;
  }
}
.process__accordion[open] {
  background-color: var(--color-accent);
  --indicatorVerticalRotate: 0 deg;
}
.process__accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 767px) {
  .process__accordion-header {
    -moz-column-gap: 28px;
         column-gap: 28px;
  }
}
.process__accordion-title {
  font-size: clamp(18px, 2.0833333333vw, 30px);
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.process__accordion-title::before {
  content: var(--counterContent);
  font-size: 2em;
}
@media (max-width: 767px) {
  .process__accordion-title::before {
    font-size: 30px;
  }
}
.process__accordion-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  aspect-ratio: 1;
  position: relative;
  flex-shrink: 0;
  background-color: var(--color-gray);
  border: var(--border);
  border-radius: 50%;
}
@media (max-width: 767px) {
  .process__accordion-indicator {
    width: 30px;
  }
}
.process__accordion-indicator::before, .process__accordion-indicator::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 10%;
  background-color: var(--color-dark);
}
.process__accordion-indicator::after {
  rotate: var(--indicatorVerticalRotate);
  transition-duration: var(--transition-duration);
}
.process__accordion-body {
  margin-top: 30px;
  padding-top: 30px;
  border-top: var(--border);
}

.team {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.team__btn {
  align-self: end;
  min-width: 269px;
}
@media (max-width: 480px) {
  .team__btn {
    width: 100%;
  }
}

.team-card {
  height: 100%;
  padding: 40px 35px;
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
}
@media (max-width: 767px) {
  .team-card {
    padding-inline: 50px;
  }
}
.team-card__header {
  --bodyMarginBot: 28px;
  display: flex;
  padding-bottom: var(--bodyMarginBot);
  margin-bottom: var(--bodyMarginBot);
  border-bottom: var(--border);
}
@media (max-width: 767px) {
  .team-card__header {
    --bodyMarginBot: 20px;
  }
}
.team-card__img:not(:last-child) {
  margin-right: 20px;
}
.team-card__info {
  align-self: end;
}
.team-card__info:not(:last-child) {
  margin-right: 10px;
}
.team-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  aspect-ratio: 1;
  flex-shrink: 0;
  margin-left: auto;
  align-self: start;
  color: var(--color-accent);
  background-color: var(--color-dark);
  border-radius: 50%;
}
.team-card__name:not(:last-child) {
  margin-bottom: 3px;
}

.pagination__list {
  display: flex;
}
.pagination__btn {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  aspect-ratio: 1;
  color: inherit;
}
@media (hover: hover) {
  .pagination__btn:hover {
    color: var(--color-accent);
    cursor: pointer;
    opacity: 0.8;
  }
}
@media (hover: none) {
  .pagination__btn:active {
    color: var(--color-accent);
    cursor: pointer;
    opacity: 0.8;
  }
}

.swiper-pagination-bullet {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  aspect-ratio: 1;
  margin: 0 !important;
  color: var(--color-light);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  color: var(--color-accent);
}

.reviews {
  display: flex;
  flex-direction: column;
  row-gap: 110px;
  padding-top: 84px;
  padding-bottom: 54px;
  padding-inline: 30px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);
  overflow-x: hidden;
}
@media (max-width: 1023px) {
  .reviews {
    row-gap: 46px;
    padding: 30px 30px 46px;
  }
}
.reviews__slider-item {
  max-width: 606px;
}
.reviews__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 564px;
  margin-inline: auto;
}
.reviews__arrow-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  aspect-ratio: 1;
  color: var(--color-light);
}
@media (hover: hover) {
  .reviews__arrow-btn:hover {
    color: var(--color-accent);
    cursor: pointer;
  }
}
@media (hover: none) {
  .reviews__arrow-btn:active {
    color: var(--color-accent);
    cursor: pointer;
  }
}
.reviews__arrow-btn[disabled] {
  color: var(--color-gray-alt);
  cursor: not-allowed;
}
.reviews__arrow-btn svg {
  width: 20px;
  aspect-ratio: 1;
}

.review-card {
  --cardCornerWIdth: 40px;
  --cardCornerOffsetLeft: 52px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
@media (max-width: 767px) {
  .review-card {
    row-gap: 44px;
    --cardCornerWIdth: 32px;
    --cardCornerOffsetLeft: 46px;
  }
}
.review-card__body {
  position: relative;
  border: 1px solid var(--color-accent);
  border-radius: var(--border-radius-large);
  padding: 48px var(--cardCornerOffsetLeft) 52px;
}
@media (max-width: 767px) {
  .review-card__body {
    padding: 30px;
  }
}
.review-card__body::after {
  width: var(--cardCornerWIdth);
  aspect-ratio: 1;
  content: "";
  position: absolute;
  top: 100%;
  left: var(--cardCornerOffsetLeft);
  rotate: 45deg;
  background-color: var(--color-dark);
  border: inherit;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  translate: 0 -50%;
}
.review-card__footer {
  display: flex;
  flex-direction: column;
  padding-left: calc(var(--cardCornerOffsetLeft) / 2 + var(--cardCornerWIdth));
}
.review-card__name, .review-card__company {
  font-style: normal;
}
.review-card__name {
  color: var(--color-accent);
}

.contact-us {
  position: relative;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .contact-us {
    padding: 60px 80px 100px;
    background-color: var(--color-gray);
    border-radius: var(--border-radius-large);
  }
}
.contact-us::after {
  --imageOffsetY: 62px;
  content: "";
  position: absolute;
  top: 50%;
  left: 99%;
  translate: -50% -50%;
  height: calc(100% - var(--imageOffsetY) * 2);
  aspect-ratio: 1;
  background-image: url(../../img/contact-us-bg-sky.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1023px) {
  .contact-us::after {
    display: none;
  }
}
.contact-us__form, .contact-us__body {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .contact-us__request-types, .contact-us__body {
    background-color: var(--color-gray);
  }
}
.contact-us__request-types {
  margin: 0;
}
@media (max-width: 767px) {
  .contact-us__request-types {
    padding: 40px 52px 36px;
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  }
}
.contact-us__body {
  row-gap: 25px;
}
@media (max-width: 767px) {
  .contact-us__body {
    row-gap: 20px;
    padding: 10px 30px 50px;
    border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
    margin-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .contact-us__form {
    max-width: 556px;
  }
}
@media (min-width: 768px) {
  .contact-us__form {
    row-gap: 40px;
  }
}

.soc1als__list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.soc1als__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1;
  color: var(--color-dark);
  background-color: var(--color-light);
  border-radius: 50%;
  position: relative;
}
@media (hover: hover) {
  .soc1als__link:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .soc1als__link:active {
    background-color: var(--color-accent);
  }
}
.soc1als__link svg {
  width: 50%;
  height: 50%;
}

.subscribe-form {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 58px 40px;
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius);
}
@media (max-width: 1280px) {
  .subscribe-form {
    flex-direction: column;
    row-gap: 22px;
    padding: 30px;
    width: 100%;
    max-width: 450px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-inline: 0;
  }
}
.footer__container {
  padding: 55px 60px 50px;
  color: var(--color-light);
  background-color: var(--color-dark);
}
@media (min-width: 768px) {
  .footer__container {
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  }
}
@media (max-width: 767px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 37px;
    padding: 50px var(--container-padding-x) 30px;
  }
}
.footer__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 66px;
}
@media (max-width: 1023px) {
  .footer__navigation {
    flex-direction: column;
    align-items: center;
    row-gap: 37px;
  }
}
@media (max-width: 767px) {
  .footer__navigation {
    display: contents;
  }
}
.footer__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 767px) {
  .footer__menu-list {
    flex-direction: column;
    row-gap: 15px;
  }
}
.footer__menu-link {
  display: inline-flex;
  align-items: center;
  height: 30px;
  text-decoration: underline;
}
@media (hover: hover) {
  .footer__menu-link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .footer__menu-link:active {
    color: var(--color-accent);
  }
}
@media (max-width: 767px) {
  .footer__soc1als {
    order: 1;
  }
}
.footer__body {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (min-width: 768px) {
  .footer__body:not(:last-child) {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--color-light);
  }
}
@media (max-width: 767px) {
  .footer__body {
    flex-direction: column;
    align-items: center;
    row-gap: 37px;
    width: 100%;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 27px;
}
@media (max-width: 767px) {
  .footer__contacts {
    align-items: center;
    text-align: center;
  }
}
.footer__contacts-title {
  color: var(--color-dark);
}
.footer__contacts-body {
  font-style: normal;
}
.footer__contacts-body p {
  --paragraphMarginBottom: 20px;
}
@media (hover: hover) {
  .footer__contacts-body a:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .footer__contacts-body a:active {
    color: var(--color-accent);
  }
}
.footer__extra {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 767px) {
  .footer__extra {
    order: 2;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 15px;
    padding-top: 37px;
    border-top: 1px solid var(--color-light);
  }
}
.footer__privacy-policy-link {
  text-decoration: underline;
}
@media (hover: hover) {
  .footer__privacy-policy-link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .footer__privacy-policy-link:active {
    color: var(--color-accent);
  }
}/*# sourceMappingURL=styles.css.map */